build/*
.vscode/*
CMakeFiles/
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json
xmldocs/*
include/*
GPUEnabled.h
!core/CompuCell3D/plugins/MomentOfInertia/Makefile