/* ------------------
 styling for the tables 
   ------------------   */


body
{
	line-height: 1.6em;
}

#summaryTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#summaryTable th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#summaryTable td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
#summaryTable tbody tr:hover td
{
	color: #009;
}

#summaryTable caption
{	
    font-size: 15px;
	font-weight: normal;
    text-align:left;
}

#detailsTable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}

#detailsTable caption
{	
    font-size: 15px;
	font-weight: normal;
    text-align:left;
}
#detailsTable th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#detailsTable td
{
	padding: 8px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#detailsTable tr:hover td
{
	background: #d0dafd;
	color: #339;
}


